In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_csv = pd.read_csv('CSV_Proyecto_Jupiter_Completo_Limpio.csv')
df_api = pd.read_csv('CSV_BIPICAR_Jupiter_Definitivo2.csv')

In [ ]:
df_api['Precio_4_aÃ±os'] = df_api['Precio'].apply(lambda x: x*12*4)

In [ ]:
for col in df_api.columns:
  print(col,"-------->",df_api[col].unique())
  print()

Marca --------> ['Fiat' 'Citroen' 'Toyota' 'Lexus' 'Peugeot' 'Volkswagen' 'Renault'
 'Nissan' 'BMW' 'Mercedes-Benz' 'Cupra' 'Ford' 'DS' 'Mazda' 'Kia' 'Dacia'
 'Hyundai' 'Seat' 'Audi' 'Mini' 'Opel' 'Jeep' 'Mitsubishi' 'Alfa Romeo']

Modelo --------> ['500' 'C3' 'C-HR' 'UX' '3008' 'Polo' 'Arkana' 'Micra' 'Clio' 'Corolla'
 'Serie 3' 'GLC' 'Clase B' 'X2' 'Formentor' 'Focus' 'Zoe' 'DS3 CROSSBACK'
 'Golf' '208' 'Captur' 'Clase A' 'CX5' 'Stonic' 'Juke' 'Qashqai' 'Ceed'
 'Sandero' 'Kona' 'C5 Aircross' 'Yaris' 'Niro' 'Leon' 'A1' '308' 'Ateca'
 'X3' 'T-Roc' 'Fiesta' 'Countryman' 'Corsa' 'Panda' 'Rav 4' 'Serie 1'
 'Tucson' 'Tiguan' 'Puma' '5008' 'Arteon' 'GLC Coupe' 'Megane' 'Compass'
 'X-Trail' 'One' 'X1' 'CLA' 'Q3' '2008' 'Eclipse Cross' 'Ibiza' 'A3' 'GLA'
 'ECOSPORT' 'Ecosport' 'DS7' 'Kuga' 'Passat' 'Mokka' 'Xceed' 'Stelvio'
 'Berlingo' 'C3 Aircross' 'C4' 'Sportage' 'DS3 Crossback' 'Serie 4'
 'Kangoo' 'Spring' 'NX']

Version --------> ['Hybrid Dolcevita' '1.2 Puretech Feel' '1.8 125H' '2.0 250h'
 '1.5L BlueHDi S&S GT' '1.0 TSI Advance' 'E-Tech HEV equilibre'
 'IG-T Acenta' '1.0 equilibre TCe' '1.8 125H ActiveTech' '1.2 Lounge 69CV'
 '318d Touring' '220d AMG Line 4Matic' '180d Advantage' 'xDrive25e'
 '1.5 TSI' '1.5 Ecoblue Trend' 'Intens R110' 'Performance Line'
 '1.0 TSI Ready2Go' '1.2 Puretech Active' 'Zen TCe GPF MHEV' '180d'
 '2.2 Zenith' '1.0 T-GDi Drive' 'DIG-T 6 M/T Acenta' '1.5 dCi N-Connecta'
 '1.0 T-GDi Business' 'TCe Essential' '1.6 GDI HEV Klass'
 '1.6 PureTech S&S' 'Hybrid Business Plus' '1.6GDi Hibrido Drive'
 '1.5 EcoTSI S&S Style' '30 TFSi' '1.5 dCi Business' '1.2 PureTech S&S'
 '1.0 Style Edit Nav' 'xDrive20d' 'Hybrid Allure Pack'
 '1.5 TSI Advance DSG' '1.1 Ti-VCT Trend' '1.5 Countryman' 'XEL EDITION'
 '250 4MATIC' 'Easy' 'BlueHDI Active' '2.5l Feel' 'GT Line BlueHDi'
 '2.5l Advance' '116d' '1.6 CRDi' 'TDI Advance DSG' 'Titanium'
 '1.6 TDI Edition' '1.6 PureTech Allure' '2.0 TDI  DSG' '30 TFSi S Line'
 '250 AMG Line 4Matic' 'TSI Advance R-Line' '1.5 TSi Style Visio'
 '1.5 BlueHDI Active' '1.1 Ti-VCT Trend+' '1.5 GT Line BlueHDi'
 '1.0 TCe Business' '1.6 Mutijet' 'xDrive20i' 'X-Tronic Tekna'
 '1.5 L ONE 5p' '1.6TDi ReferencePlus' '1.8 125H Advance' '250e Business'
 '1.2 Puretech Allure' '1.5 TSI Advance' '1.0Ecoboost Titanium' '2.0 TDI'
 '1.5 BlueHDi GT Line' '1.5 TDCi Trend' 'Allure BlueHDI'
 '1.5 BlueHDi Access' '150T Kaiteki CVT 4WD' '200d AMG LINE'
 '1.5 TDCi Trend+' '35 TFSI S line' '1.5 BlueHDi' '2.0 TDI Advance DSG'
 '1.4 Selective' '1.2 Lounge' '1.0 TGDI Klass' '1.6 TDI Reference'
 'Style Ed Nav DSG' '35 TFSI S tronic' '1.0 IG-T Acenta'
 'sDrive18d Business' 'DIG-T Acenta' '1.8 Active' 'GLA 200d'
 '1.5 TSI Style' '1.0T EcoBoost' '200d' '2.0 180H Advance'
 'BlueHDI Performance' 'E-Tech Equilibre' '2.0 EcoBlue ST-Line'
 '1.6 TDi Edition DSG' '1.5D GS Line' '1.6 edrive PHEV' '2.2 Executive'
 '1.6 HEV Drive' 'BlueHDi' '1.0 T-GDi MHEV' 'BlueHDi  Feel'
 'BlueHD Feel Pack' '1.5 BlueHDi GT' '1.2L PureTech Style'
 '1.6 GDi HEV Concept' '1.6 T-GDI MHEV' 'Gran Coupe 418d'
 'Profesinal M1-AF En.' 'sharing one electric' '30 TFSI Design'
 '2.5 300h Business']

Precio --------> [325. 329. 449. 625. 459. 345. 499. 369. 429. 599. 799. 579. 699. 395.
 569. 335. 529. 645. 375. 399. 425. 349. 439. 525. 419. 649. 339. 519.
 485. 315. 795. 295. 545. 445. 415. 435. 549.   0. 465. 589. 389. 379.
 679. 365. 479. 299. 675. 585. 659. 355. 575. 495. 475. 319. 269. 639.
 615. 359. 595. 309. 469. 619. 539. 629. 455. 559. 289. 565.]

Combustible --------> ['HYBRID' 'GAS' 'DIESEL' 'ELECTRIC']

Antiguedad --------> ['2021-01-01' '2020-01-01' '2019-01-01' '2022-01-01' '2018-01-01'
 '2023-01-01' '2016-01-01']

Kms_desde --------> [20000. 30000.     0. 50000.  1000. 10000. 70000.  3000. 40000. 60000.
 80000. 90000. 15000.]

Kms_hasta --------> [  40000.   50000.  100000.       0.   95000.   90000.   30000.   70000.
    5000.   20000.   60000.   10000.   80000.   45000. 1000000.  130000.
   85000.  110000.  120000. 1100000.   25000.]

Potencia --------> [ 70  83 122 184 130  80 145  90  69 150 194 116 220 120 108 100 110  82
 140 117 141 180  75 115 190 225  85 136 211 218 102 125  95 163  45 197]

Cambio --------> ['MANUAL' 'AUTOMATIC']

Vehiculo --------> ['Fiat 500' 'Citroen C3' 'Toyota C-HR' 'Lexus UX' 'Peugeot 3008'
 'Volkswagen Polo' 'Renault Arkana' 'Nissan Micra' 'Renault Clio'
 'Toyota Corolla' 'BMW Serie 3' 'Mercedes-Benz GLC'
 'Mercedes-Benz Clase B' 'BMW X2' 'Cupra Formentor' 'Ford Focus'
 'Renault Zoe' 'DS DS3 CROSSBACK' 'Volkswagen Golf' 'Peugeot 208'
 'Renault Captur' 'Mercedes-Benz Clase A' 'Mazda CX5' 'Kia Stonic'
 'Nissan Juke' 'Nissan Qashqai' 'Kia Ceed' 'Dacia Sandero' 'Hyundai Kona'
 'Citroen C5 Aircross' 'Toyota Yaris' 'Kia Niro' 'Seat Leon' 'Audi A1'
 'Peugeot 308' 'Seat Ateca' 'BMW X3' 'Volkswagen T-Roc' 'Ford Fiesta'
 'Mini Countryman' 'Opel Corsa' 'Fiat Panda' 'Toyota Rav 4' 'BMW Serie 1'
 'Hyundai Tucson' 'Volkswagen Tiguan' 'Ford Puma' 'Peugeot 5008'
 'Volkswagen Arteon' 'Mercedes-Benz GLC Coupe' 'Renault Megane'
 'Jeep Compass' 'Nissan X-Trail' 'Mini One' 'BMW X1' 'Mercedes-Benz CLA'
 'Audi Q3' 'Peugeot 2008' 'Mitsubishi Eclipse Cross' 'Seat Ibiza'
 'Audi A3' 'Mercedes-Benz GLA' 'Ford ECOSPORT' 'Ford Ecosport' 'DS DS7'
 'Ford Kuga' 'Volkswagen Passat' 'Opel Mokka' 'Kia Xceed'
 'Alfa Romeo Stelvio' 'Citroen Berlingo' 'Citroen C3 Aircross'
 'Citroen C4' 'Kia Sportage' 'DS DS3 Crossback' 'BMW Serie 4'
 'Renault Kangoo' 'Dacia Spring' 'Lexus NX']

Url_foto --------> ['https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/615dade0843dbc008731ed0f/vehicle-images/624ac423f8445bc9beb8805b_2022_04_04_12_10_43.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/62600ba4a699ebe154824b6a/vehicle-images/62600bc7aa6f8df6e77c3ec8_2022_04_20_15_33_59.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5d7637448fd7a40028d44430/vehicle-images/62d54f59b0bd39eb4f07c9a1_2022_07_18_14_17_29.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5f6dc6cdeaa82900b344d16e/vehicle-images/624397ef2ed084401c3aaacd_2022_03_30_01_36_15.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/6454fbce37bcf146777dbb10/vehicle-images/6454fca937bcf146777deb70_2023_05_05_14_55_05.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5e382f916d530300ab832903/vehicle-images/62552a944d02cdb6c4e92ffc_2022_04_12_09_30_28.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/628bace7d946050440b3f164/vehicle-images/62dfe2274c4c964d85bd9d56_2022_07_26_14_46_31.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5fd0de70c3c97a00a35658f2/vehicle-images/62a74a60593f1e57d070e370_2022_06_13_16_32_00.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/633c56a7142c188e52f7de49/vehicle-images/6351649e962a7e090f87ad4f_2022_10_20_17_09_18.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5f80122516e72300a41f2f46/vehicle-images/632312130399e8e771cd1b3e_2022_09_15_13_52_51.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/60a24becfb2bb0008dc6250c/vehicle-images/6246b5e60dc7c5c7de220ea4_2022_04_01_10_20_54.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/60338a50c37ea000a54e2127/vehicle-images/627e3bd88d2d684258610d10_2022_05_13_13_07_04.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/622891ced4816e1d287e5870/vehicle-images/625528ebc16cdefb235bdd5d_2022_04_12_09_23_23.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/626aa2ecf42154ec4ec15cd7/vehicle-images/626ab23f8cbe6986ad6a08d0_2022_04_28_17_26_55.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/60a273c8d988e1008d1dcf68/vehicle-images/62439c262ed084401c3aae3a_2022_03_30_01_54_14.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/64259d9d13f6b57e88b25f3d/vehicle-images/6425a54e6df8378dd3bb8f93_2023_03_30_17_05_50.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/6463a57ba406d5604229f34f/vehicle-images/64648c51f4fdcf10194fac3d_2023_05_17_10_12_01.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/63287ccd29d240715691ca79/vehicle-images/6328805729d240715691dae5_2022_09_19_16_44_39.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/64918f2c86626c181459e605/vehicle-images/64918fb486626c18145a3831_2023_06_20_13_38_28.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/602d024cbd6d9500a959954c/vehicle-images/624381d3f083c82b8ec79ad2_2022_03_30_00_01_55.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/6022938c017e1200aabb9d3c/vehicle-images/626674d19aedd5237f5bfab8_2022_04_25_12_15_45.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/625fb18c60080ee4d325d4b2/vehicle-images/62dfe13e54aecdf8b09510bf_2022_07_26_14_42_38.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/619e6c42e7db7400889a8b17/vehicle-images/62667831f8e46fb19bb6e72d_2022_04_25_12_30_09.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5d65013a91895800251c10e7/vehicle-images/63cffc5ddb79d7ea390eedda_2023_01_24_16_42_21.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/608975cfe208bd0085236b3e/vehicle-images/62438e8bdd5d82abf4c70115_2022_03_30_00_56_11.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5fd0cd1ca7a77700a48e07fd/vehicle-images/6284d3b5d511ffbbab4a0a35_2022_05_18_13_08_37.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5f3a56b7ae2c8000aa805225/vehicle-images/62501ff0c77d202aeed3ee64_2022_04_08_13_43_44.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/6267d73d6c6f400430be3968/vehicle-images/627ce964b301d979510974b9_2022_05_12_13_03_00.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/62be93d94ae334146500b332/vehicle-images/62be94694ae334146500b479_2022_07_01_08_30_01.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5e394d3329b0a000a084f566/vehicle-images/632c23222f72e276f79feeb9_2022_09_22_10_56_02.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/63b573facf17c72871fbe682/vehicle-images/63b574af3d985f911a21a42c_2023_01_04_13_44_31.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/61c0871cf14e0500881cd075/vehicle-images/624391dd227b6be55eb4462e_2022_03_30_01_10_21.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5fc7625ba8124200a409b371/vehicle-images/6256ee5a843b55d362222ef8_2022_04_13_17_38_02.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5e25742c90472300a55606fc/vehicle-images/62c423d60903448ea3c2f819_2022_07_05_13_43_18.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5e68ae05cb14fd00a938e543/vehicle-images/62437cfa594174a2ca6e8b1f_2022_03_29_23_41_14.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5e2199f1974e2200a47a362a/vehicle-images/6243797ff083c82b8ec78c67_2022_03_29_23_26_23.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5e21888f48f6a400a1ddf4ac/vehicle-images/63e38272821871b37412f44a_2023_02_08_12_07_30.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5e2194fd66ff1e00a355b8a7/vehicle-images/632975fe4cfd3c80b123bc9e_2022_09_20_10_12_46.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/60af7453aebe130099733e87/vehicle-images/629609a07805ca862da4aec6_2022_05_31_14_27_12.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/606c88928b3d6800975685f2/vehicle-images/6363b55dbf61894c5c814a9b_2022_11_03_13_34_37.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5fd0dbe98cb08000aadc9529/vehicle-images/625ff26899c0e1eb6291fd1d_2022_04_20_13_45_44.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/6093f90d320cff0086bc58eb/vehicle-images/64830b11cdcd8a26abbebfab_2023_06_09_13_20_49.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5ccfef67ddaec80022fe4f66/vehicle-images/6243866d227b6be55eb43833_2022_03_30_00_21_33.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5eeb8d0151595c009e0e0c88/vehicle-images/64073c32d470f97e81f0c32a_2023_03_07_14_29_22.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/606302b82faf7e00955e1a1f/vehicle-images/6294a2f1dba55985b10a50f9_2022_05_30_12_56_49.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/6491abd0388c37217d225af2/vehicle-images/6492f8dacad2c169e3f85739_2023_06_21_15_19_22.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5e25a7553eb41200a4a846fe/vehicle-images/626675039aedd5237f5bfc3a_2022_04_25_12_16_35.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5d9c5f80e0182c002568c99c/vehicle-images/630732c8e7f931443dafcfc6_2022_08_25_10_28_56.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/60b8ae4d12c0270084627399/vehicle-images/6284d0a86578d0e93b48205b_2022_05_18_12_55_36.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/6408b46f66c6204ac8a91d55/vehicle-images/64930132892a0a511ff8d46b_2023_06_21_15_54_58.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/602bcb0d1e756900a40182e8/vehicle-images/62438334dd5d82abf4c6f343_2022_03_30_00_07_48.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/62011dee1fba0b008d1b9b47/vehicle-images/6290aa845200473c1b6a56d1_2022_05_27_12_40_04.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5fe9adfa60e69a00a4ff5fed/vehicle-images/6254338929f39aa1e928094e_2022_04_11_15_56_25.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/6491b65b940139710c1cff8c/vehicle-images/6491b872df04a2592e8c0e3b_2023_06_20_16_32_18.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5c89274eca7096002702addd/vehicle-images/6243825cdd5d82abf4c6f21d_2022_03_30_00_04_12.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/61792548f6c087008dec2278/vehicle-images/62d66e785c316601493e7a95_2022_07_19_10_42_32.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/602ce66303fb6c00a0e0df4f/vehicle-images/6362a00fe6988dd395fccc31_2022_11_02_17_51_27.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/62261c080c36e694ec529280/vehicle-images/63440446993af5e0cced1c0b_2022_10_10_13_38_46.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5e3061ded8399d00ad364874/vehicle-images/62552ec292317a3623a7e95e_2022_04_12_09_48_18.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5e25742c90472300a55606fc/vehicle-images/62438c980989fcf36fa4b927_2022_03_30_00_47_52.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5fb540bc5f9db800d484c011/vehicle-images/62cc03faccc7099ce7085009_2022_07_11_13_05_30.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5fad0aa5e3066000a9401647/vehicle-images/63e647b22ebea1d878a08287_2023_02_10_14_33_38.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/62d7e2392c6a092d4c953fbd/vehicle-images/6499800d1139d558c1d9c10a_2023_06_26_14_09_49.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/60c734575a423b008c6710df/vehicle-images/6283c1b2da7e5a3b8f27dd11_2022_05_17_17_39_30.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/649568f81da94a604ba24091/vehicle-images/64956a084d4f3d47c9cb4c22_2023_06_23_11_46_48.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/60a26589a9e879008cd913f1/vehicle-images/63d109cf569169a13c1bb2a1_2023_01_25_11_51_59.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/6033a968c37ea000a54e2d27/vehicle-images/6363b75c41e1bcbaec95c75f_2022_11_03_13_43_08.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5fca49ebb8d48600ab517fde/vehicle-images/6347ff78cee818f4e098dd18_2022_10_13_14_07_20.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/62bc14dcd23f6564764ee5cd/vehicle-images/6363795298a997249f8ab58f_2022_11_03_09_18_26.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5f155e88d9918800a844474f/vehicle-images/6243946c2ed084401c3aa772_2022_03_30_01_21_16.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/649570d362bee43c7f259cd7/vehicle-images/649572b498d338f60a4762b1_2023_06_23_12_23_48.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/6036897f50483200a1ab7104/vehicle-images/6290a6bdb97602effe24981f_2022_05_27_12_23_57.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/60c72cd51c3aba008690f182/vehicle-images/638dc607a2a5f38bc51451c6_2022_12_05_11_20_55.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/643807a2cc3b3a09434613bc/vehicle-images/645a2d142508c41ea59791bc_2023_05_09_13_23_00.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/6495737a98d338f60a478be0/vehicle-images/649584fe1d61ed4941d9bb34_2023_06_23_13_41_50.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/60a26d4da97cff0083662ae5/vehicle-images/627138c95f5f16f97b3a00e6_2022_05_03_16_14_33.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/625544a960f3ac03fcbf6082/vehicle-images/625544b68534916ce06d928b_2022_04_12_11_21_58.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/6437ca3f4b8b85b7a2cf32e9/vehicle-images/64411f5ce27a9688c8a99ed8_2023_04_20_13_17_48.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5c8920131f679500220c560d/vehicle-images/64957e04dd9f1649e308b133_2023_06_23_13_12_04.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5e7de29e155c5300a64021e7/vehicle-images/6243a2db5232e258e905965a_2022_03_30_02_22_51.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/63b4546304a86036a639bb80/vehicle-images/63b4551f04a86036a639bdf3_2023_01_03_17_17_35.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/60a26e12a9e879008cd9160b/vehicle-images/6253f1cf7a78080cc4f0eca8_2022_04_11_11_15_59.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5ef0dee594274a00965057ec/vehicle-images/6246b62447ad5316e6b294ce_2022_04_01_10_21_56.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5e42d11b3e468d00a5172b73/vehicle-images/62457b20c40ad3585f35bc05_2022_03_31_11_57_52.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/60bf2d492af5cb0085cc7fe0/vehicle-images/636297b3c6aecd51554ec4b9_2022_11_02_17_15_47.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/6102814b01f4270086d1c298/vehicle-images/62d7d0a255cecef31c805069_2022_07_20_11_53_38.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/61c1fd1daa1565008a939958/vehicle-images/6256dd1a706fec6216f844c7_2022_04_13_16_24_26.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/60422d577bd5cc0098bb01e5/vehicle-images/63ea209279c4745e6f11696b_2023_02_13_12_35_46.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5d6d364657d34e0022b6e7ac/vehicle-images/62438dcf227b6be55eb440e1_2022_03_30_00_53_03.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5e42d9fe2d37bb00a450f37d/vehicle-images/625e75c5491d1f49afaf9106_2022_04_19_10_41_41.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/5f0c460052462700982c05d5/vehicle-images/62e23a5434709a481332c995_2022_07_28_09_27_16.png'
 'https://bipi-pro.s3.eu-west-1.amazonaws.com/specificvehicleplans/649e96349a10132756269205/vehicle-images/649ec9ba50dac6212cb2f261_2023_06_30_14_25_30.png'

In [ ]:
# for col in df_api.columns:
#   if col == 'Precio' or col == 'Kms_desde' or col == 'Kms_hasta':
#     df_api[col] = df_api[col].astype(int).astype(str).apply(lambda x: x.replace('0','')).astype('Int64')

In [ ]:
# for col in df_api.columns:
#   if col == 'Precio' or col == 'Kms_desde' or col == 'Kms_hasta':
#     df_api[col] = df_api[col].astype(int).astype(str).apply(lambda x: x.replace('0.','0'))
#     df_api.drop(df_api.loc[df_api[df_api[col]] == '0'].index , inplace=True)

In [ ]:
lista_ceros = df_api.loc[df_api["Precio"] == 0.].index
lista_ceros

Int64Index([70, 86, 87, 90, 91, 93, 95, 136, 138, 143, 174, 175, 176, 180,
            183],
           dtype='int64')

In [ ]:
df_api = df_api.drop(lista_ceros)

In [ ]:
lista_ceros_kms_desde = df_api.loc[df_api["Kms_desde"] == 0.].index
lista_ceros_kms_desde

Int64Index([  3,   6,   8,  15,  16,  47,  49,  51,  52,  53,  55,  62,  79,
             83, 111, 124, 125, 127, 147, 151, 155, 157, 170, 171, 177, 181,
            188, 190, 191, 194, 196, 200, 201, 202, 206, 209, 210, 213, 214,
            220, 221, 226, 231],
           dtype='int64')

In [ ]:
df_api = df_api.drop(lista_ceros_kms_desde)

# Agrupaciones para grÃ¡fico dispersion bÃºrbujas POWER BI

In [ ]:
agrupacion_csv = df_csv.groupby('Marca').agg({'Marca':'count','Precio':'mean'})
agrupacion_api = df_api.groupby('Marca').agg({'Marca':'count','Precio':'mean'})

agrupacion_csv
# agrupacion_csv.merge(agrupacion_api, on = 'Marca', how = 'outer', suffixes = ('_csv','_api')).fillna(0)

                Marca         Precio
Marca
ABARTH             89   19929.662921
ALFA                6   15699.000000
ALFA ROMEO        126   25890.142857
ALPINE              1   66000.000000
ASTON MARTIN        7  128398.571429
AUDI             1687   29190.666864
BENTLEY            12  219413.583333
BMW              1884   29498.740446
CHEVROLET          40   15506.925000
CITROEN          1394   14744.944046
CUPRA              16   37135.500000
DACIA             265   10230.366038
DFSK                8   24421.625000
DR AUTOMOBILES      1   16990.000000
DS                122   25473.000000
FERRARI            19  211073.684211
FIAT              948   11401.251055
FORD             1586   15529.839218
HONDA             180   21569.605556
HYUNDAI           818   17035.073350
INFINITI           56   21104.767857
INVICTA             2   21495.000000
ISUZU               5   34541.400000
IVECO              14   19756.642857
JAGUAR            183   38113.065574
JEEP              219   27780.547945
KIA               874   17479.292906
LAMBORGHINI         6  301166.666667
LANCIA             13    9986.769231
LAND               12   29707.333333
LAND-ROVER        330   45933.754545
LEXUS             184   30213.173913
MAHINDRA           10   17249.000000
MASERATI           46   64379.195652
MAXUS               1   20290.000000
MAZDA             281   19659.227758
MERCEDES-BENZ    2115   36734.021277
MG                  1   18499.000000
MINI              459   20058.649237
MITSUBISHI        140   19190.621429
NISSAN           1048   17484.728053
OPEL             1496   14623.002005
PEUGEOT          1812   17551.793046
PIAGGIO             1   10900.000000
PORSCHE           256   86780.460938
RENAULT          1465   14805.228669
SEAT             1307   16389.649579
SKODA             371   16607.029650
SMART             134   12929.134328
SSANGYONG          83   17625.891566
SUBARU             55   27972.981818
SUZUKI            128   20525.343750
TATA                2    4945.000000
TESLA              15   58625.200000
TOYOTA            990   16820.434343
VOLKSWAGEN       1977   19962.931209
VOLVO             434   32161.546083

In [ ]:
agrupacion_csv = agrupacion_csv.rename(columns={'Marca':'Marcas'})
agrupacion_api = agrupacion_api.rename(columns={'Marca':'Marcas'})

In [ ]:
# agrupacion_csv.merge(agrupacion_api, on = 'Marca', how = 'outer', suffixes = ('_csv','_api')).fillna(0)

In [ ]:
agrupacion_csv.merge(agrupacion_api, on = 'Marca', how = 'outer', suffixes = ('_csv','_api')).fillna(0).reset_index().to_csv('agrupacion_csv_y_api.csv',
                                                                                                        index=False, sep=';')

In [ ]:
df_merge = pd.read_csv('agrupacion_csv_y_api.csv', sep=';')

In [ ]:
df_merge['Precio_api'] = df_merge['Precio_api'].apply(lambda x: x*12*4)

In [ ]:
# convertir a entero los precios para que no salgan millones de decimales:

for col in df_merge.columns:
  if col == 'Precio_csv' or col == 'Precio_api' or col == 'Marcas_csv' or col == 'Marcas_api':
    df_merge[col] = df_merge[col].astype(int)

In [ ]:
df_merge

           Marca  Marcas_csv  Precio_csv  Marcas_api  Precio_api
0         ABARTH          89       19929           0           0
1           ALFA           6       15699           0           0
2     ALFA ROMEO         126       25890           0           0
3         ALPINE           1       66000           0           0
4   ASTON MARTIN           7      128398           0           0
..           ...         ...         ...         ...         ...
72       Peugeot           0           0          25       20872
73       Renault           0           0           6       19120
74          Seat           0           0           9       19642
75        Toyota           0           0           9       22074
76    Volkswagen           0           0          14       23115

[77 rows x 5 columns]

In [ ]:
df_merge.to_csv('agrupacion_csv_y_api_ENTEROS.csv', index=False, sep=';')